<h1>FriendList Facebook by Cit</h1>
<div class="w3-container">

    <label>Input ID Facebook: </label>
    <input class="w3-input w3-border w3-light-grey" type="text" placeholder="ID Facebook" [(ngModel)]='id_fb'>

    <label>Input access token: </label>
    <input class="w3-input w3-border w3-light-grey" type="text" placeholder="Access token" [(ngModel)]='token_fb'>

    <button class=" w3-ripple w3-blue-grey" (click)='getFL()'>GETLIST</button>
</div>
<div class="w3-container w3-table w3-striped" *ngIf='obj'>
    <h2 *ngIf='check2'>List Friends</h2>
    <h2 *ngIf='check1'>Charts</h2>
    <div>
        <label class="w3-green">Do you want export XLS file? Now</label>
        <button class=" w3-ripple w3-blue-grey" (click)="exportToExcel()">Export</button>
        <label class="w3-blue">Do you want show chart? Now</label>
        <button class=" w3-ripple w3-blue-grey" (click)='status1()' *ngIf='check2'>Show</button>
        <button class=" w3-ripple w3-blue-grey" (click)='status2()' *ngIf='check1'>Hide</button>
    </div>
    <br>
    <table class="w3-table" *ngIf='check2'>
        <tr class="w3-red">
            <th>ID</th>
            <th>Full Name</th>
            <th>Avatar</th>
        </tr>
        <tr *ngFor="let x of obj; let i = index">
            <th>{{i+1}}</th>
            <th>{{x.name}}</th>
            <th>
                <img src="{{x.picture.data.url}}" alt='Error'>
            </th>
        </tr>
    </table>
</div>

<div style="display: block; width: 30%;height: 30%;" *ngIf='check1' id="charts">
    <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
    <div style="float: left; clear: left;">
        <table class="w3-table">
            <tr>
                <th class="w3-red" *ngFor="let label of pieChartLabels">{{label}}</th>
            </tr>
            <tr>
                <th *ngFor='let d of pieChartData'>{{d}}</th>
            </tr>
        </table>
    </div>
</div>